/* MAIN WINDOWS */
body {
	font-family: "Alegreya Sans";
}

#outer-container {
	width: 700px;
	height: 700px;
	border: 3px solid black;
	background-color: white;
}

#game-intro {
	background-image: url(../images/city-park.jpg);
	background-size: 700px 700px;
	background-repeat: no-repeat;
	height: 700px;
	width: 700px;
	/*display: none;*/
}

#title-page1 {
	/*display: none;*/
}

.instructions {
	display: none;
}


#game-play {
	display: none;
}

#game-window {
	height: 600px;
	width: 700px;
	background-image: url(../images/city-park.jpg);
	background-size: 700px 600px;
}


/* TITLE PAGE AND INSTRUCTIONS */
.header {
	font-family: Pacifico;
	margin: 0px;
	font-size: 85px;
	text-align: center;
	color: red;
}

button {
	background-color: red;
	height: 30px;
	width: 150px;
	font-family: "Alegreya Sans";
	font-size: 18px;
	color: white;
}

.left-btn {
	position: absolute;
	top: 500px;
	left: 175px;
}

.right-btn {
	position: absolute;
	top: 500px;
	left: 375px;
}

.intro-btn {
	top: 600px;
}

.description {
	background-color: rgba(255, 255, 255, 0.65);
	margin: 30 100px;
	text-align: center;
	font-size: 25px;
	padding: 10px;
}

.description3 {
	font-size: 22px;
}

.description4 {
	font-size: 21px;
}

.intro-dogs {
	margin-left: 90px;
}

.intro-dog {
	width: 90px;
	height: 90px;
	padding: 20px;
}

.intro-threat, .intro-tool {
	width: 60px;
	height: 60px;
	padding-top: 5px;
}

.page3-row {
	background-color: rgba(255, 255, 255, 0.65);
	margin: 10px;
	margin-left: 70px;
	display: block;
	/*margin-left: 100px;*/
	/*background-color: red;*/
	text-align: center;
	width: 80%;

}

.inline {
	display: inline-block;
	margin: 10px 20px;
}

.page3-title {
	font-size: 25px;
	font-style: bold;
}

#screenshot1 {
	border: 3px solid;
	margin-left: 150px;
}

#screenshot2 {
	border: 3px solid;
	margin-left: 50px;
}

#screenshot3 {
	border: 3px solid;
	margin-left: 25px;
	height: 75px;
	width: 190px;
}

#screenshot4 {
	border: 3px solid;
	height: 100px;
	width: 420px;
}

.p5-screens {
	margin: auto 10px;
}

/* TOOLBELT */
#toolbelt {
	width: 700px;
	height: 100px;
	background-color: SaddleBrown;
}

.toolbelt-item {
	position: absolute;
	padding: 10px;
}

.mini-threat {
	position: absolute;
	top: 660px;
}

#food {
	left: 50px;
}

#food-cart {
	left: 40px;
}

#mini-hunger {
	left: 110px;
}

#supply-level-background1 {
	left: 60px;
}

#soap {
	left: 190px;
}

#soap-cart {
	left: 180px;
}

#mini-fleas {
	left: 250px;
}

#supply-level-background2 {
	left: 200px;
}

#cage {
	left: 330px;
}

#cage-cart {
	left: 320px;
}

#mini-raccoon {
	left: 400px;
}

#supply-level-background3 {
	left: 340px;
}

#cash {
	left: 470px;
}

#cash-cart {
	left: 460px;
}

#mini-catcher {
	left: 540px;
}

#supply-level-background4 {
	left: 480px;
}

#coin-section {
	background-color: red;
}

#coin {
	left: 600px;
}

#coin-count {
	position: absolute;
	left: 630;
	top: 685;
	color: white;
	font-size: 20px;
	text-align: center;
}

.cart {
	position: absolute;
	height: 15px;
	width: 15px;
	top: 690px;
}

.supply-level-background {
	position: absolute;
	background-color: red;
	top: 695px;
	height: 10px;
	width: 70px; 
	border-radius: 3px;
}

.supply-level {
	background-color: green;
	height: 10px;
	width: 70px; /* dynamic */
	border-radius: 3px; /* conditional */
}


/* DOGS */

.dog {
	height: 70px;
	width: 70px;
	position: absolute;
}

#dog1 {
	top: 450px;
	left: 490px;
}

#dog2 {
	top: 500px;
	left: 105px;
}

#dog3 {
	top: 330px;
	left: 390px;
}

#dog4 {
	top: 530px;
	left: 350px;
}


/* DOG HEALTH */

.health-level-background {
	position: absolute;
	background-color: red;
	height: 70px;
	width: 10px;
	border-radius: 3px;
}

.health-level {
	background-color: green;
	height: 70px; /* dynamic */
	width: 10px;
	position: absolute;
	top: 0px; /* dynamic */
	border-radius: 3px; /* conditional */
}

#health-level-background1 {
	top: 445px;
	left: 475px;
}

#health-level-background2 {
	top: 500px;
	left: 85px;
}

#health-level-background3 {
	top: 330px;
	left: 470px;
}

#health-level-background4 {
	top: 520px;
	left: 430px;
}


/* THREATS */

.threat {
	height: 60px;
	width: 60px;
	position: absolute;
	display: none;
}

.catcher {
	height: 120px;
	width: 120px;
}

.dog1-threat , .dog1-threat-catcher {
	top: 390px;
	left: 520px;
}

.dog2-threat {
	top: 430px;
	left: 105px;
}

.dog2-threat-catcher {
	top: 390px;
	left: 30px;
}


.dog3-threat {
	top: 310px;
	left: 320px;
}

.dog3-threat-catcher {
	top: 270px;
	left: 280px;
}

.dog4-threat {
	top: 530px;
	left: 280px;
}

.dog4-threat-catcher {
	top: 480px;
	left: 230px;
}


/* MODAL */
.modal-footer {
	margin-left: 90px;
}

.modal-btn {
	text-decoration: none;
	color: white;
	background-color: #66c2ff;
	width: 100%;
	margin: auto 10px auto 10px; 
	padding: 5px 30px 5px 30px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
